<?xml version="1.0" encoding="utf-8" ?>
<Options xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" TestRunTimeLimit="3" >
	<Applications>
		<!-- Win -->
		<Application
			Name="vidoWinSolutionWin"
			FileName="[WinAppBin]\vidoWinSolution.Win.exe"
			AdapterAssemblyName="[WinAdapterAssemblyName]"
			CommunicationPort="4100"/>
		<!-- Web -->
		<Application
			Name="vidoWinSolutionWeb"
			Url="http://localhost:4030"
			PhysicalPath="[WebAppBin]"
			AdapterAssemblyName="[WebAdapterAssemblyName]"/>
		<!-- For IIS -->
		<!--Application
			Name="[SolutionName]Web"
			Url="http://localhost/vidoWinSolution.Web/Default.aspx"
			AdapterAssemblyName="[WebAdapterAssemblyName]"/-->
	</Applications>
	<TestDatabases>
		<Database xsi:type="TestMSSQLDatabase" Server="(local)" DBName="vidoWinSolutionEasyTest" />
	</TestDatabases>

	<Aliases>
		<Alias Name="WinAdapterAssemblyName" Value="DevExpress.ExpressApp.EasyTest.WinAdapter.v10.1, Version=10.1.7.0, Culture=neutral, PublicKeyToken=163290938d0004dc" />
		<Alias Name="WebAdapterAssemblyName" Value="DevExpress.ExpressApp.EasyTest.WebAdapter.v10.1, Version=10.1.7.0, Culture=neutral, PublicKeyToken=163290938d0004dc" />
		<Alias Name="WinAppBin" Value="D:\Sage\Projects\XafDifferentModules\vidoWinSolution\vidoWinSolution.Win\Bin\EasyTest" />
		<Alias Name="WebAppBin" Value="D:\Sage\Projects\XafDifferentModules\vidoWinSolution\vidoWinSolution.Web" />
	</Aliases>
</Options>
